{% extends "base.html" %}

{% block content %}
<div class="mt-3 d-flex flex-column justify-content-center">
    <h1 class="mx-auto">Изменение пароля</h1>
    <form class="w-50 mx-auto {% if errors %} was-valited {% else %} needs-validation {% endif %}" method="POST">
        <div class="mb-3 position-relative">
            <input id="old-password" type="password"
                class="form-control {% if errors.oldPassword %} is-invalid {% elif errors %} is-valid {% endif %}"
                placeholder="Старый пароль" name="oldPassword">
            {% if errors.oldPassword %}
            <div class="invalid-feedback">
                {{errors.oldPassword}}
            </div>
            {% endif %}
        </div>
        <div class="mb-3 position-relative">
            <input id="new-password" type="password"
                class="form-control {% if errors.newPassword %} is-invalid {% elif errors %} is-valid {% endif %}"
                placeholder="Новый пароль" name="newPassword">
            {% if errors.newPassword %}
            <div class="invalid-feedback">
                {{errors.newPassword}}
            </div>
            {% endif %}
        </div>
        <div class="mb-3 position-relative">
            <input id="repeat-password" type="password"
                class="form-control {% if errors.repeatPassword %} is-invalid {% elif errors %} is-valid {% endif %}"
                placeholder="Повторите пароль" name="repeatPassword">
            {% if errors.repeatPassword %}
            <div class="invalid-feedback">
                {{errors.repeatPassword}}
            </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
{% endblock %}