{% macro form(user, roles, selectedRole, errors) %}
<form class="w-50 mx-auto {% if errors %} was-valited {% else %} needs-validation {% endif %}" method="POST">
    {% if request.endpoint == "createUser" %}
    <div class="mb-3 position-relative">
        <input id="login" type="login"
            class="form-control {% if errors.login %} is-invalid {% elif errors %} is-valid {% endif %}"
            placeholder="Login" name="login" value="{{user.login}}">
        {% if errors.login %}
        <div class="invalid-feedback">
            {{errors.login}}
        </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <input type="password"
            class="form-control {% if errors.password %} is-invalid {% elif errors %} is-valid {% endif %}"
            placeholder="Password" name="password" value={{user.password}}>
        {% if errors.password %}
        <div class="invalid-feedback">
            {{errors.password}}
        </div>
        {% endif %}
    </div>
    {% endif %}
    <div class="mb-3">
        <input type="text"
            class="form-control {% if errors.last_name %} is-invalid {% elif errors %} is-valid {% endif %}"
            placeholder="Фамилия" name="last_name" value="{{user.last_name}}">
        {% if errors.last_name %}
        <div class="invalid-feedback">
            {{errors.last_name}}
        </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <input type="text"
            class="form-control {% if errors.first_name %} is-invalid {% elif errors %} is-valid {% endif %}"
            placeholder="Имя" name="first_name" value="{{user.first_name}}">
        {% if errors.first_name %}
        <div class="invalid-feedback">
            {{errors.first_name}}
        </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Отчество" name="patronymic" value="{{user.patronymic}}">
    </div>
    <select class="form-select mb-3" name="role">
        {% if selectedRole %}
        <option>Выберите роль</option>
        {% for role in roles %}
        <option value={{role.role_name}} {% if role.role_name==selectedRole %} selected {% endif %}>{{role.role_name}}
        </option>
        {% endfor %}
        {% else %}
        <option>Выберите роль</option>
        {% for role in roles %}
        <option value={{role.role_name}}>{{role.role_name}}</option>
        {% endfor %}
        {% endif %}
    </select>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endmacro %}