{% macro table(users, is_authenticated) %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            {% if request.endpoint == "showUser" %}
            <th>Логин</th>
            {% endif %}
            <th>ФИО</th>
            <th>Роль</th>
            {% if request.endpoint == "index" %}
            <th>Действие</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            {% if request.endpoint == "showUser" %}
            <td>{{user.login}}</td>
            {% endif %}
            <td>
                {% if user.last_name %}
                {{user.last_name}}
                {% endif %}
                {{user.first_name}}
                {% if user.patronymic %}
                {{user.patronymic}}
                {% endif %}
            </td>
            <td>{{user.role_name}}</td>
            {% if request.endpoint == "index" %}
            <td class="w-25">
                <a href="{{url_for('showUser', UID=user.id)}}" class="btn btn-primary px-4"><i
                        class="fa-solid fa-eye"></i></a>
                {% if is_authenticated %}
                <a href="{{url_for('editUser', UID=user.id)}}" class="btn btn-secondary px-4"><i
                        class="fa-solid fa-pencil"></i></a>
                <button type="button"
                    class="btn btn-danger btn-delete-user px-4 uid-{{user.id}} {% if user.last_name %}{{user.last_name}}-{% endif %}{{user.first_name}}{% if user.patronymic %}-{{user.patronymic}}{% endif %}"
                    data-bs-toggle="modal" data-bs-target="#deleteUserModal">
                    <i
                        class="fa-solid fa-trash-can uid-{{user.id}} {% if user.last_name %}{{user.last_name}}-{% endif %}{{user.first_name}}{% if user.patronymic %}-{{user.patronymic}}{% endif %}"></i>
                </button>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}